* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: yellow;

}

h1{
  font-size: 80px;
  color: blue;
  text-shadow: 2px 2px 10px fuchsia;
}

h2 {
  font-size: 50px;
}

h2:hover {
  color: blue;
}

p {
  display: grid;
  font-size: 36px;
  color: blue;
  
}


/* GRID */

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;

}


.grid-title {
  grid-column: 1 / span 3;

  text-transform: uppercase;
  text-align: center;
}

.grid-image{
  justify-content: center;
  align-items: center;
  display: flex;
}



.grid-who, .grid-contact, .grid-image {
  border: 2px solid blue;
  border-radius: 30%;
  box-shadow: 1px 1px 10px fuchsia;

  padding: 2em;
  
  text-align: center;
  
}


.grid-image img{
  width: 50%;
  justify-content: center;
  align-items: center;
}
